@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

@import 'tailwindcss';

@layer utilities {
  @media (hover: hover) {
    .hoverable\:hidden {
      display: none
    }
    .hoverable\:block {
      display: block
    }
    .hoverable\:flex {
      display: flex
    }
    .hoverable\:invisible {
      visibility: hidden
    }
    .hoverable\:visible {
      visibility: visible
    }
  }

  .reset-truncate {
    overflow: auto;
    text-overflow: inherit;
    white-space: inherit;
  }
}

@theme {
  --font-mono: 'Google Sans Code', monospace;
  --font-fancy: 'Orbitron', sans-serif;

  --color-primary-50: #f0f6fe;
  --color-primary-100: #deeafb;
  --color-primary-200: #b2edff;
  --color-primary-300: #9cc5f4;
  --color-primary-400: #6da6ed;
  --color-primary-500: #4a86e7;
  --color-primary-600: #3569db;
  --color-primary-700: #0078b4;
  --color-primary-800: #006695;
  --color-primary-900: #273e81;
  --color-primary-950: #1c284f;
  --color-primary-1000: #1c284f;

  --color-secondary-50: var(--color-neutral-50);
  --color-secondary-100: var(--color-neutral-100);
  --color-secondary-200: var(--color-neutral-200);
  --color-secondary-300: var(--color-neutral-300);
  --color-secondary-400: var(--color-neutral-400);
  --color-secondary-500: var(--color-neutral-500);
  --color-secondary-600: var(--color-neutral-600);
  --color-secondary-700: var(--color-neutral-700);
  --color-secondary-800: var(--color-neutral-800);
  --color-secondary-900: var(--color-neutral-900);
  --color-secondary-950: var(--color-neutral-950);

  --color-accent-50: var(--color-pink-50);
  --color-accent-100: var(--color-pink-100);
  --color-accent-200: var(--color-pink-200);
  --color-accent-300: var(--color-pink-300);
  --color-accent-400: var(--color-pink-400);
  --color-accent-500: var(--color-pink-500);
  --color-accent-600: var(--color-pink-600);
  --color-accent-700: var(--color-pink-700);
  --color-accent-800: var(--color-pink-800);
  --color-accent-900: var(--color-pink-900);
  --color-accent-950: var(--color-pink-950);

  --drop-shadow-2: 2px 2px 0px rgb(0 0 0 / 0.15);
  --text-shadow-2: 2px 2px 0px rgb(0 0 0 / 0.15);
  --shadow-inner-2: inset 2px 2px 0px rgb(0 0 0 / 0.15);

  --drop-shadow-3: 3px 3px 0px rgb(0 0 0 / 0.15);
  --text-shadow-3: 3px 3px 0px rgb(0 0 0 / 0.15);

  --drop-shadow-4: 4px 4px 0px rgb(0 0 0 / 0.15);
  --text-shadow-4: 4px 4px 0px rgb(0 0 0 / 0.15);

  --drop-shadow-6: 6px 6px 0px rgb(0 0 0 / 0.15);
  --text-shadow-6: 6px 6px 0px rgb(0 0 0 / 0.15);

  --drop-shadow-8: 8px 8px 0px rgb(0 0 0 / 0.15);
  --text-shadow-8: 8px 8px 0px rgb(0 0 0 / 0.15);

  --radius-primary: var(--radius-lg);
}

:root {
  --foreground: var(--color-secondary-700);
  --background: var(--color-secondary-50);
  
  --button-accent-bg: var(--color-accent-500);
  --button-accent-bg-hover: var(--color-accent-400);
  --button-accent-bg-active: var(--color-accent-300);
  --button-accent-text: var(--color-accent-50);
  --button-accent-border: var(--color-accent-600);
  
  --button-primary-bg: var(--color-primary-500);
  --button-primary-bg-hover: var(--color-primary-400);
  --button-primary-bg-active: var(--color-primary-300);
  --button-primary-text: var(--color-primary-950);
  --button-primary-border: var(--color-primary-600);
  
  --button-secondary-bg: var(--color-secondary-200);
  --button-secondary-bg-hover: var(--color-secondary-300);
  --button-secondary-bg-active: var(--color-secondary-400);
  --button-secondary-text: var(--color-secondary-800);
  --button-secondary-border: var(--color-secondary-400);
  
  --button-disabled-bg: var(--color-secondary-200);
  --button-disabled-text: var(--color-secondary-400);
  --button-disabled-border: var(--color-secondary-300);
  
  --card-bg: var(--color-secondary-100);
  --card-border: var(--color-secondary-300);
  
  scrollbar-color: var(--color-secondary-50) var(--color-secondary-600);

  font-family: 'Google Sans Code', sans-serif;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --foreground: var(--color-secondary-100);
  --background: var(--color-secondary-900);

  --button-accent-bg: var(--color-accent-500);
  --button-accent-bg-hover: var(--color-accent-400);
  --button-accent-bg-active: var(--color-accent-300);
  --button-accent-text: var(--color-accent-50);
  --button-accent-border: var(--color-accent-600);
  
  --button-primary-bg: var(--color-primary-600);
  --button-primary-bg-hover: var(--color-primary-500);
  --button-primary-bg-active: var(--color-primary-400);
  --button-primary-text: var(--color-primary-50);
  --button-primary-border: var(--color-primary-400);
  
  --button-secondary-bg: var(--color-secondary-900);
  --button-secondary-bg-hover: var(--color-secondary-800);
  --button-secondary-bg-active: var(--color-secondary-700);
  --button-secondary-text: var(--color-secondary-200);
  --button-secondary-border: var(--color-secondary-700);
  
  --button-disabled-bg: var(--color-secondary-900);
  --button-disabled-text: var(--color-secondary-700);
  --button-disabled-border: var(--color-secondary-800);
  
  --card-bg: var(--color-secondary-900);
  --card-border: var(--color-secondary-700);
  
  scrollbar-color: var(--color-secondary-400) var(--color-secondary-700);
  color-scheme: dark;
}

:root.light {
  --foreground: var(--color-secondary-700);
  --background: var(--color-secondary-50);

  --button-accent-bg: var(--color-accent-500);
  --button-accent-bg-hover: var(--color-accent-400);
  --button-accent-bg-active: var(--color-accent-300);
  --button-accent-text: var(--color-accent-50);
  --button-accent-border: var(--color-accent-600);
  
  --button-primary-bg: var(--color-primary-500);
  --button-primary-bg-hover: var(--color-primary-400);
  --button-primary-bg-active: var(--color-primary-300);
  --button-primary-text: var(--color-primary-50);
  --button-primary-border: var(--color-primary-600);
  
  --button-secondary-bg: var(--color-secondary-50);
  --button-secondary-bg-hover: var(--color-secondary-300);
  --button-secondary-bg-active: var(--color-secondary-400);
  --button-secondary-text: var(--color-secondary-800);
  --button-secondary-border: var(--color-secondary-400);
  
  --button-disabled-bg: var(--color-secondary-200);
  --button-disabled-text: var(--color-secondary-400);
  --button-disabled-border: var(--color-secondary-300);
  
  --card-bg: var(--color-secondary-100);
  --card-border: var(--color-secondary-300);
  
  scrollbar-color: var(--color-secondary-50) var(--color-secondary-600);
  color-scheme: light;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --foreground: var(--color-secondary-100);
    --background: var(--color-secondary-900);

    --button-accent-bg: var(--color-accent-500);
    --button-accent-bg-hover: var(--color-accent-400);
    --button-accent-bg-active: var(--color-accent-300);
    --button-accent-text: var(--color-accent-50);
    --button-accent-border: var(--color-accent-600);
    
    --button-primary-bg: var(--color-primary-600);
    --button-primary-bg-hover: var(--color-primary-500);
    --button-primary-bg-active: var(--color-primary-400);
    --button-primary-text: var(--color-primary-50);
    --button-primary-border: var(--color-primary-400);
    
    --button-secondary-bg: var(--color-secondary-900);
    --button-secondary-bg-hover: var(--color-secondary-800);
    --button-secondary-bg-active: var(--color-secondary-700);
    --button-secondary-text: var(--color-secondary-200);
    --button-secondary-border: var(--color-secondary-700);
    
    --button-disabled-bg: var(--color-secondary-900);
    --button-disabled-text: var(--color-secondary-700);
    --button-disabled-border: var(--color-secondary-800);
    
    --card-bg: var(--color-secondary-900);
    --card-border: var(--color-secondary-700);
    
    scrollbar-color: var(--color-secondary-400) var(--color-secondary-700);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.light):not(.dark) {
    --foreground: var(--color-secondary-700);
    --background: var(--color-secondary-50);

    --button-accent-bg: var(--color-accent-500);
    --button-accent-bg-hover: var(--color-accent-400);
    --button-accent-bg-active: var(--color-accent-300);
    --button-accent-text: var(--color-accent-50);
    --button-accent-border: var(--color-accent-600);
    
    --button-primary-bg: var(--color-primary-500);
    --button-primary-bg-hover: var(--color-primary-400);
    --button-primary-bg-active: var(--color-primary-300);
    --button-primary-text: var(--color-primary-950);
    --button-primary-border: var(--color-primary-600);
    
    --button-secondary-bg: var(--color-secondary-200);
    --button-secondary-bg-hover: var(--color-secondary-300);
    --button-secondary-bg-active: var(--color-secondary-400);
    --button-secondary-text: var(--color-secondary-800);
    --button-secondary-border: var(--color-secondary-400);
    
    --button-disabled-bg: var(--color-secondary-200);
    --button-disabled-text: var(--color-secondary-400);
    --button-disabled-border: var(--color-secondary-300);
    
    --card-bg: var(--color-secondary-100);
    --card-border: var(--color-secondary-300);
    
    scrollbar-color: var(--color-secondary-50) var(--color-secondary-600);
    color-scheme: light;
  }
}
